@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.form {
    display: flex;
    justify-content: center;
}

.isi {
    flex-direction: column;
}

#input {
    margin-right: 25px;
}